*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    
}
:root{
    --pri:#02387e;
    --sec:#387afe;
    --light:#ddeff3;
    --dark:#0080ff;
}
body{
    background: var(--pri);
    overflow: hidden;
    
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: rgba(2, 47, 120, 0.95);
    z-index: 1000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.95);
}
.nav-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    font-weight:700 ;
    color: var(--light);
    display: flex;
    text-decoration: none;
}
.menu-toggle{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light);
}

.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--light);
    transition: color 0.3s ease;
    position: relative;
}
 .nav-links a::after{
    content: "";
    position: absolute;
    bottom: -5px ;
    left: 0;
    width: 0;
    height: 2px ;
    background: var(--sec);
    transition: width 0.3s ease;
}
.nav-links a:hover::after{
    width:100%;
}
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
}
.hero-content{
    max-width: 1200px;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 4rem;
    align-items: center;
}
.hero-text{
    padding: 2rem;
    color: var(--light);

}
.hero-text h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--light);
    
}
.hero-text p{
    font-size: 1.2rem;
    color:var(--light);
    margin-bottom:2rem;
    line-height:1.6;

}
.cta-button{
    color: var(--light);
    padding:1rem 2rem;
    background: var(--dark);
    color: white;
    text-decoration:none;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.cta-button:hover{
    transform:translateY(-3px);
}

.hero-image-container{
    position: relative;
    width: 100%;
    height:500px;
}
.hero-image{
    width:600px;
    height: 500px;
    object-fit: cover;
    border-radius:20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.95);
}

.spinning-icons{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    animation: rotate 20s linear infinite;
}

.icon-obit{
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(2, 47, 120, 0.95);
}
.icon-obit i{
    color: var(--sec);
    font-size: 1.2rem;
}